body {
  font-family: "Noto Sans", sans-serif;
}
button {
  height: 2.4rem;
  margin-bottom: 0.9rem;
  margin-right: 0.6rem;
  width: 2.4rem;
}
.container {
  margin-top: 0.6rem;
  max-width: 1024px;
}
.firstRow {
  margin-bottom: 0.6rem;
}
.tooltip {
  font-family: "Noto Sans", sans-serif;
}
.subsequentRow {
  margin-bottom: 0.6rem;
  margin-top: -0.8rem;
}
#buttonAyn,
#buttonHamzah {
  font-family: "Gentium Basic", serif;
  font-size: 140%;
}
